@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "CustomFont";
  src: url("./assets/Acherus.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFont", sans-serif;
}

.MuiFormLabel-root {
  @apply text-primary/60 font-custom !important;
}

.MuiInputBase-input {
  @apply text-primary font-custom !important;
}

.MuiInput-underline:before {
  @apply border-primary/10 font-custom !important;
}

.MuiInput-underline:after {
  @apply border-primary !important;
}

.MuiButtonBase-root {
  @apply bg-primary text-fourth shadow-none hover:bg-fourth hover:text-primary hover:border-primary border-solid border-fourth border !important;
}

/* Hide scrollbars for all elements */
*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

* {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.swiper-pagination-bullet {
  @apply bg-primary !important;
}

.swiper-pagination-bullet-active {
  @apply bg-fourth brightness-150 !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-primary/60 hover:text-primary p-20 !important;
}

.MuiButton-root {
  @apply font-custom lowercase font-bold !important;
}

.MuiSvgIcon-root {
  @apply text-fourth/60 hover:text-fourth cursor-pointer duration-500 transition-all !important;
}
